.DS_Store
bin/node_modules
bin/mysql
bin/mongodb
bin/nginx
bin/.tmp
config/engines/nginx/conf.d/*
config/engines/nginx/production/*
config/engines/nginx/sandbox/*
config/engines/nginx/sites/*
config/engines/mysql/*
!config/engines/nginx/sites/default
config/engines/nginx/mime.types
config/engines/nginx/nginx.conf
config/trustedhosts.json
config/cluster.json
logs
tmp
var/db
var/data
